In [160]:
import os
import pandas as pd

df = pd.DataFrame(columns=['filename','statement'])
for file in os.listdir('P_ZXL_ZFRX_TABLE_MON'):
    sql = open('P_ZXL_ZFRX_TABLE_MON/' + file, 'r', encoding = 'utf-8')
    sqltxt = sql.readlines()
    df = df.append({'filename':file,'statement':sqltxt},ignore_index=True)
    sql.close()

In [161]:
import re

# 去除空行空格并大写
df['statement'] = df['statement'].apply(lambda x:' '.join(x))
df['statement'] = df['statement'].apply(lambda x:re.sub('[ ]+',' ',str(x)))
#df['statement'] = df['statement'].apply(lambda x:x.upper())

In [162]:
df['statement'] = df['statement'].apply(lambda x:x.split( ))

In [163]:
df_word_index1 = pd.DataFrame(columns=['word','index'])
for val in list(enumerate(df.iloc[0,1])):
    df_word_index1 = df_word_index1.append({'word':val[1],'index':val[0]},ignore_index=True)
df_word_index1 = df_word_index1.groupby(['word'],as_index=True)['index'].apply(list)
df_word_index1 = pd.DataFrame(df_word_index1)
df_word_index1

                                                                       index
word
"12366_2人工接起量",                                                       [1884]
"12366_2人工请求量"                                                        [1897]
"呼入量12333","呼入量12366_2","12366_2人工接起量","12366_2...                    [1848]
"呼入量12345_5",                                                         [1864]
"呼入量12366_2",                                                         [1873]
...                                                                      ...
非常不满意量                                              [2656, 2848, 2945, 2993]
非常不满意量)                                             [2534, 2714, 2893, 2902]
非常不满意量,                                                         [2526, 2706]
非常满意量                                                           [2928, 2976]
非常满意量,                                              [2522, 2596, 2702, 2788]

[1071 rows x 1 columns]

In [164]:
df_word_index2 = pd.DataFrame(columns=['word','index'])
for val in list(enumerate(df.iloc[1,1])):
    df_word_index2 = df_word_index2.append({'word':val[1],'index':val[0]},ignore_index=True)
df_word_index2 = df_word_index2.groupby(['word'],as_index=True)['index'].apply(list)
df_word_index2 = pd.DataFrame(df_word_index2)
df_word_index2

                                                                       index
word
"12366_2人工接起量",                                                       [1889]
"12366_2人工请求量"                                                        [1902]
"呼入量12333","呼入量12366_2","12366_2人工接起量","12366_2...                    [1853]
"呼入量12345_5",                                                         [1869]
"呼入量12366_2",                                                         [1878]
...                                                                      ...
非常不满意量                                              [2661, 2853, 2950, 2998]
非常不满意量)                                             [2539, 2719, 2898, 2907]
非常不满意量,                                                         [2531, 2711]
非常满意量                                                           [2933, 2981]
非常满意量,                                              [2527, 2601, 2707, 2793]

[1088 rows x 1 columns]

In [165]:
df_word_index = pd.concat([df_word_index1, df_word_index2], axis=1, join='outer')
df_word_index

                                                     index   index
word
"12366_2人工接起量",                                     [1884]  [1889]
"12366_2人工请求量"                                      [1897]  [1902]
"呼入量12333","呼入量12366_2","12366_2人工接起量","12366_2...  [1848]  [1853]
"呼入量12345_5",                                       [1864]  [1869]
"呼入量12366_2",                                       [1873]  [1878]
...                                                    ...     ...
lxh                                                    NaN  [3134]
两个轨迹                                                   NaN  [3138]
基本上是包含                                                 NaN  [3136]
来电弹屏、归档                                                NaN  [3137]
热线前台                                                   NaN  [3135]

[1088 rows x 2 columns]

In [168]:
df_word_index.to_csv('df_word_index.csv',encoding='gb2312')

In [186]:
a = 'select a, b, c \n from abc, \'ab bc\''
#re.split(r'\'([^\']*?)\'|[^\S\n\r]+', a.strip())
re.split(r'\'([^\']*?)\'', a.strip())

['select a, b, c \n from abc, ', 'ab bc', '']